<div class="menu" [class.open]="isOpen">
  <div class="close-icon" (click)="close($event)">&#10006;</div>
  <nav>
    <ul>
      <li><a (click)="navigateTo('/client/dashboard/profile', $event)">profile</a></li>
      <li><a (click)="navigateTo('/client/dashboard/bookings', $event)">bookings</a></li>
      <li><a (click)="navigateTo('/client/dashboard/payments', $event)">payments</a></li>
      <li><a (click)="navigateTo('/client/dashboard/reviews', $event)">reviews</a></li>
      <li><a (click)="navigateTo('/client/dashboard/logout', $event)">logout</a></li>
    </ul>
  </nav>
</div>
<div class="overlay" [class.show]="isOpen" (click)="close($event)"></div>
