<div class="menu" [class.open]="isOpen">
  <div class="close-icon" (click)="close()">&#10006;</div>
  <nav>
    <ul>
      <li><a (click)="navigateTo('/admin/dashboard/profile', $event)">profile</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/admins', $event)">admins</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/bookings', $event)">bookings</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/categories', $event)">categories</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/clients', $event)">clients</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/payments', $event)">payments</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/reviews', $event)">reviews</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/tours', $event)">tours</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/users', $event)">users</a></li>
      <li><a (click)="navigateTo('/admin/dashboard/logout', $event)">logout</a></li>
    </ul>
  </nav>
</div>
<div class="overlay" [class.show]="isOpen" (click)="close()"></div>
