<main>
  <div class="container">
    <div class="right-display">
      <div class="section">
        <img src="/logo.svg" alt="logo">
      </div>
      <div class="section">
        <h1>xplora</h1>
      </div>
      <div class="section">
        <h3>Set New Password</h3>
        <h4>Enter a new password for your account.</h4>
      </div>
    </div>
    <div class="left-display">
      <form (ngSubmit)="onSubmit()">
        <div class="input-group error-container">
          <p class="error-message">{{ generalError }}</p>
        </div>
        <div class="input-group">
          <label for="newPassword">New Password *</label>
          <input type="password" name="newPassword" id="newPassword" placeholder="Enter new password" autocomplete="new-password" [(ngModel)]="newPassword" required>
        </div>
        <div class="input-group">
          <label for="confirmNewPassword">Confirm New Password *</label>
          <input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm new password" autocomplete="new-password" [(ngModel)]="confirmNewPassword" required>
        </div>
        <div class="input-group">
          <button type="submit">Save New Password</button>
        </div>
      </form>
    </div>
  </div>
</main>
