<main>
  <div class="container">
    <div class="right-display">
      <div class="section">
        <img src="/logo.svg" alt="logo">
      </div>
      <div class="section">
        <h1>xplora</h1>
      </div>
      <div class="section">
        <h3>Verify Reset Code</h3>
        <h4>Enter the code sent to your email to verify.</h4>
      </div>
    </div>
    <div class="left-display">
      <form (ngSubmit)="onSubmit()">
        <div class="input-group error-container">
          <p class="error-message">{{ generalError }}</p>
        </div>
        <div class="input-group">
          <label for="code">Verification Code *</label>
          <input type="text" name="code" id="code" placeholder="Enter verification code" autocomplete="off" [(ngModel)]="code" required>
        </div>
        <div class="input-group">
          <button type="submit">Verify Code</button>
        </div>
        <div class="input-group">
          <!-- ! -->
          <p>Didn't receive a code? <a href="#">Resend code</a></p>
        </div>
      </form>
    </div>
  </div>
</main>
