<main>
  <div class="container">
    <div class="right-display">
      <div class="section">
        <img src="/logo.svg" alt="logo">
      </div>
      <div class="section">
        <h1>xplora</h1>
      </div>
      <div class="section">
        <h3>Forgot Password?</h3>
        <h4>Enter your email to receive a reset code.</h4>
      </div>
    </div>
    <div class="left-display">
      <form (ngSubmit)="onSubmit()">
        <div class="input-group error-container">
          <p class="error-message">{{ generalError }}</p>
        </div>
        <div class="input-group">
          <label for="email">Email *</label>
          <input type="email" name="email" id="email" placeholder="example@email.com" autocomplete="off" [(ngModel)]="email" required>
        </div>
        <div class="input-group">
          <button type="submit">Receive Reset Code</button>
        </div>
        <div class="input-group">
          <p>Remember your password? <a href="/login">Login here</a></p>
        </div>
      </form>
    </div>
  </div>
</main>
