<div class="create-tour">
  <button class="back-btn" (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
  <h2>Create Tour</h2>
  <form (ngSubmit)="createTour()" enctype="multipart/form-data">
    <div>
      <label for="title">Title *</label>
      <input type="text" id="title" name="title" [(ngModel)]="tour.title" required autocomplete="off">
    </div>
    <div>
      <label for="description">Description *</label>
      <input type="text" id="description" name="description" [(ngModel)]="tour.description" required autocomplete="off">
    </div>
    <div>
      <label for="destination">Destination *</label>
      <input type="text" id="destination" name="destination" [(ngModel)]="tour.destination" required autocomplete="off">
    </div>
    <div>
      <label for="price">Price *</label>
      <input type="number" id="price" name="price" [(ngModel)]="tour.price" required>
    </div>
    <div>
      <label for="category">Category *</label>
      <select id="category" [(ngModel)]="tour.category_id">
        <option value="">Select</option>
        <option *ngFor="let category of categories" [value]="category.category_id">
          {{ category.category_name }}
        </option>
      </select>
    </div>
    <div>
      <label for="start_date">Start Date *</label>
      <input type="date" id="start_date" name="start_date" [(ngModel)]="tour.start_date" required>
    </div>
    <div>
      <label for="end_date">End Date *</label>
      <input type="date" id="end_date" name="end_date" [(ngModel)]="tour.end_date" required>
    </div>
    <div class="form-group">
      <label for="image_1">Image 1 *</label>
      <input type="file" id="image_1" name="images" (change)="onFileChange($event, 0)" required>
    </div>
    <div class="form-group">
      <label for="image_2">Image 2</label>
      <input type="file" id="image_2" name="images" (change)="onFileChange($event, 1)">
    </div>
    <div class="form-group">
      <label for="image_3">Image 3</label>
      <input type="file" id="image_3" name="images" (change)="onFileChange($event, 2)">
    </div>
    <div class="form-group">
      <label for="image_4">Image 4</label>
      <input type="file" id="image_4" name="images" (change)="onFileChange($event, 3)">
    </div>
    <div>
      <button type="submit">Create Tour</button>
    </div>
  </form>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>
